<html>
  <head>
    <title>Screen On</title>
  </head>
  <body>
    <h1>Screen On</h1>
    <h4>how much do you use your phone?</h4>

    <script src="./static/sa.js"></script>
    <script src="./static/chart.bundle.min.js"></script>
    <script src="./static/moment-with-locales.min.js"></script>
    <script src="./static/data_handling.js"></script>
    <script src="./static/script.js"></script>
  
    <select id="daySelector"></select> 
   
    <div id="scatterChartContainer" style="border: 1px solid black">
      <span>distribution of screen changes</span>
      <div style="max-width: 600px; max-height:400px;">
        <canvas id="myChart" width="600" height="400"></canvas>
      </div>
    </div>
 
    <div id="screenChangesChartContainer" style="border: 1px solid black">
      <span>screen changes per hour</span>
      <div style="display: flex; flex-direction: row"> 
        <div style="max-width: 600px; max-height:400px">
          <canvas id="screenChangesChart" width="600" height="400"></canvas>
        </div>
        <div style="display: flex; flex-direction: column">
  	<select id="hourSelector"></select>
          <div style="max-width: 600px; max-height:400px">
            <canvas id="hourlyScreenChangesChart" width="600" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div id="cumulatedChartContainer" style="border: 1px solid black">
      <span>cumulated chart in the selected day</span>
      <div style="max-width: 600px; max-height:400px">
        <canvas id="cumulatedChart" width="600" height="400"></canvas>
      </div>
    </div>
    <script>
        retrieveData()
    </script>
    <div id="counter"></div>
    <div id="tableChartContainer" style="border: 1px solid black">
    <span>raw data</span>
    <p>note: for each line, <i>on/off</i> reveals the screen change (on to off, or off to on). delta is the time the phone stayed in the [previous state], so off in the first case, on in the second case</p>
    <table>
        <thead>
		<tr> <td>moment</td> <td>on/off</td> <td>delta (s)</td> <td>cumulated usage (s)</td> </tr>
	</thead>
	<tbody id="tbody">
        </tbody>
    </table>
    </div>
    <div id="githubChartContainer" style="border: 1px solid black; display: none">
      <span>"contributions"-like chart</span>
      <table>
	<tbody id="githubChart-tbody">
        </tbody>
      </table>
    </div>
  </body>
</html>
