<html>
  <head>
    <title>Screen On</title>
  </head>
  <body>
    <h1>Screen On</h1>
    <h4>how much do you use your phone?</h4>

    <script src="./static/sa.js"></script>
    <script src="./static/chart.bundle.min.js"></script>
    <script src="./static/moment-with-locales.min.js"></script>
    <script src="./static/script.js"></script>
   
    <select id="daySelector"></select> 
    <div style="max-width: 600px; max-height:400px; display: none">
        <canvas id="myChart" width="600" height="400"></canvas>
    </div>
   
    <div style="display: flex; flex-direction: row"> 
      <div style="max-width: 600px; max-height:400px">
        <canvas id="screenChangesChart" width="600" height="400"></canvas>
      </div>
      <div style="display: flex; flex-direction: column">
	<select id="hourSelector"></select>
        <div style="max-width: 600px; max-height:400px">
          <canvas id="hourlyScreenChangesChart" width="600" height="400"></canvas>
        </div>
      </div>
    </div>
   
    <script>
        retrieveData()
    </script>
    <div id="counter"></div>
    <p>note: for each line, <i>on/off</i> reveals the screen change (on to off, or off to on). delta is the time the phone stayed in the [reached state], so off in the first case, on in the second case</p>
    <table>
        <thead>
		<tr> <td>moment</td> <td>on/off</td> <td>delta (s)</td> <td>cumulated usage (s)</td> </tr>
	</thead>
	<tbody id="tbody">
        </tbody>
    </table>
  </body>
</html>
